#hamburger-helper {
  width: 3rem;
  padding: 0rem 5%;
}
.nav {
  background-color: rgba(0,0,0,0);
  font-size: 1rem;
  padding: 0 1rem;
  display: grid;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}
.nav li {
  padding: .5rem .5rem;
  white-space: nowrap;
}

.nav > ul > li {
  margin: 0 .5rem;
}

.nav a {
  padding: 0rem;
  text-decoration: none;
  
  display: inline-block;
}
.nav li:hover {
  background-color: rgba(255,255,255,0.3);
}

#shown {
  display: grid;
}
#hidden {
  display: none;
}

@media only screen and (min-width: 36rem) {
  #hamburger-helper {
    display: none;
  }
  .dropdown-content {
    position: absolute;
    transform-origin: top center;
    opacity: 0.3;
    transition: 200ms all ease-out;
    visibility: hidden;
  }
  .dropdown:hover .dropdown-content,
  .dropdown:focus-within .dropdown-content {
    opacity: 1;
    visibility: visible;
  }
  .nav {
    display: grid;
    padding: .5rem;
    place-items: center;
  }
  .nav ul {
    background-color: rgba(0,0,0,.95);
  }
  .nav > ul {
    grid-auto-flow: column;
  }
  .nav > ul > li > a {
    padding: .5rem 0;
  }
  #shown {
    display: grid;
  }
  #hidden {
    display: grid;
  }
}