:root {
	--bg_dark: black;
	--text_dark: ghostwhite;
	--bg_light: aliceblue;
	--text_light: black;
}

body {
	color: var(--text_dark);
	background-color: var(--bg_dark);
	font-family: Verdana, Tahoma, sans-serif;
	margin: 0;
}

a:link {
  color: skyblue;
}
a:visited {
  color: royalblue;
}
a:hover {
  color: deepskyblue;
}
a:active {
  color: skyblue;
}

div {
	margin: auto;
}

img {
  width: 100%;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

.content {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: min(90%,64rem);
}

.img-desc {
  text-align: center;
	font-size: .75rem;
}