:root {
	--bg_dark: black;
	--text_dark: ghostwhite;
	--bg_light: aliceblue;
	--text_light: black;
}

body {
	color: var(--text_dark);
	background-color: var(--bg_dark);
	font-family: Verdana, Tahoma, sans-serif;
	margin: 0;
}

/* HYPERLINKS */
a:link {
  color: skyblue;
}
a:visited {
  color: royalblue;
}
a:hover {
  color: deepskyblue;
}
a:active {
  color: skyblue;
}

/* Button */
.button {
  color: white;
  padding: .25rem .5rem;
  transition-duration: .3s;
}
.button:hover {
  background-color: rgba(0,0,0,.75);
}
/* Button Links */
a:link.button {
  color: white;
}
a:visited.button {
  color: lightcyan;
}
a:hover.button {
  color: royalblue;
}
a:active.button {
  color: lightcyan;
}


div {
	margin: auto;
}

img {
  width: 100%;
}

p {
  line-height: 1.5rem;
  margin: 1em 0;
}

h1 {
	text-align: center;
	font-size: 3rem;
  margin: 1.5rem 0;
}
h2 {
	text-align: center;
	font-size: 1.5rem;
  margin: 1rem 0;
}
h3 {
  margin: .67rem 0;
}

ul {
  margin: .25rem;
}
li {
  padding: .25rem .5rem;
}



.content {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: min(90%,64rem);
}

/* Hero */
.hero {
	background-image:
		linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.9)),
		url("/skyward/img/DSC_0141.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

  display: grid;
  align-items: top;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));
}
.hero-center {
  grid-row: 3;
  justify-items: center;
  text-align: center;
}
@media only screen and (min-width: 36rem) {
  .hero-center {
    grid-column: 1;
    grid-row: 1;
  }
}
.hero-left {
  grid-row: 1;
  text-align: center;
  justify-items: left;
  margin: 5% 10% 0;
}
@media only screen and (min-width: 36rem) {
  .hero-left {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }
}
.hero-right {
  grid-row: 2;
  text-align: center;
  justify-items: right;
  margin: 5% 10% 0;
}
@media only screen and (min-width: 36rem) {
  .hero-right {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
  }
}
.main-logo {
  display:none;
}
@media only screen and (min-width: 36rem) {
  .main-logo {
    width: max(6rem,10%);
    display: block;
    margin: auto;
  }
}


.img-desc {
  text-align: center;
	font-size: .75rem;
}