:root {
	--text: black;
	--bg: white;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Sans', 'Verdana', sans-serif;
}
body#horizon {
	background: url("//img/DSC_0167.jpeg");
	background-color: var(--bg);
	background-image: url("/img/DSC_0167.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
}

div {
	margin: auto;
}

img {
	width: 100%;
}

/* HYPERLINKS */
a:link {
	color: coral;
}
a:visited {
	color: crimson;
}
a:hover {
	color: orange;
}
a:active {
	color: white;
}

h1 {
	font-family: 'Poppins', sans-serif;
	letter-spacing: .3rem;
	text-align: center;
	font-size: clamp(1rem,6vw,3rem);
	font-weight: 900;
}
h2 {
	font-family: 'Poppins', sans-serif;
	letter-spacing: .2rem;
	text-align: center;
	font-size: clamp(1rem,6vw,2rem);
	font-weight: 700;
}
p {
	font-family: inherit;
	font-size: 1rem, inherit;
}
ol > li {
	text-align: left;
	margin: .5rem 3rem;
}

.content {
	box-sizing: border-box;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem 3rem;
	width: min(90%,42rem);
	color: var(--text);
	background-color: rgba(255,255,255,.0);
	border-radius: 0rem;
	position: relative;
}
.content > p {
	margin: 1rem 1rem;
}

.frame {
	width: 100%;
	height: 0;
	padding-top: 100%;
}
.ardor {
	position: absolute;
	top: 0;
	left: 0;
}

.monospace {
	font-family: 'Courier New', monospace;
}
img.button88x31 {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	width: auto;
	height: 31px;
}
img.pixel {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	width: 100%;
	height: auto;
}
