:root {
	--text: black;
	--bg: white;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Sans', 'Verdana', sans-serif;
}
body#horizon {
	background-image: url("/img/SKY0167.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
}

div {
	margin: auto;
}

img {
	width: 100%;
}

/* HYPERLINKS */
a:link {
	color: coral;
}
a:visited {
	color: crimson;
}
a:hover {
	color: orange;
}
a:active {
	color: white;
}

h1 {
	font-family: 'Poppins', sans-serif;
	letter-spacing: .3rem;
	text-align: center;
	font-size: clamp(1rem,6vw,3rem);
	font-weight: 900;
}
h2 {
	font-family: 'Poppins', sans-serif;
	letter-spacing: .2rem;
	text-align: center;
	font-size: clamp(1rem,6vw,2rem);
	font-weight: 700;
}
p {
	font-family: inherit;
	text-align: left;
	font-size: 1rem;
}
ol > li {
	text-align: left;
	margin: .5rem 3rem;
}

.content {
	box-sizing: border-box;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem 3rem;
	width: min(90%,54rem);
	color: var(--text);
	background-color: rgba(255,255,255,.5);
	backdrop-filter: blur(2rem);
	border-radius: 0rem;
}
.content > p {
	margin: 1rem 1rem;
}
.content > ul {
	padding-left: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	grid-gap: 1rem;
}
.content > ul > a {
	text-decoration: none;
}
.content > ul > a {
	padding: 0.25rem 1rem;
	color: ghostwhite;
	background-color: rgba(0,0,0,.25);
	border-radius: 0rem;
	border-style: solid;
	border-color: white;
	border-width: .15rem;
	align-items: center;
	justify-content: center;
	display: flex;
	transition: .2s;
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: 1rem center;
}
.content > ul > a:hover {
	background-color: rgba(255,255,255,.0);
}

a#Twitter {
	background-image: url("/icons/twittergriff.svg");
}
a#Tumblr {
	background-image: url("/icons/tumblr.svg");
}
a#FA {
	background-image: url("/icons/furaffinity.svg");
}
a#Twitch {
	background-image: url("/icons/twitch.svg");
}
a#Picarto {
	background-image: url("/icons/picarto.svg");
}
a#Toyhouse {
	background-image: url("/icons/toyhouse.svg");
}
a#Ko-fi {
	background-image: url("/icons/ko-fi.svg");
}
a#Telegram {
	background-image: url("/icons/telegram.svg");
}
a#Discord {
	background-image: url("/icons/discordgriff.svg");
}

.monospace {
	font-family: 'Courier New', monospace;
}
.img-desc {
	text-align: center;
	font-size: .75rem;
}
.profile-img {
	display: block;
	margin: auto;
	width: min(75%,24rem);
}

img.button88x31 {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	width: auto;
	height: 31px;
	display: inline-block;
}
.buttons {
	text-align: center;
}
.pixel {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	width: 100%;
	height: auto;
}

img.emoji {
	height: 2rem;
	width: 2rem;
	vertical-align: -.67rem;
}